<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
	</head>
	<body class="card-body">
		<div th:insert="navbar"/>	
		<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
	  		<div class="card-header">ERROR</div>
	  		<div class="card-body">
	    		<h5 class="card-title">Acción fallida:</h5>
	    		<p class="card-text" th:text="${errorMsg}"/>
	  		</div>
		</div>		
	</body>
</html>