<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
	</head>
		<body class="card-body">
		<div th:insert="navbar"/>
		<div class="card text-white bg-light mb-3">		
		  <div class="card-header bg-info"><h2>Datos operación de ingreso</h2></div>	
		  <div class="card-body">
		  <label class="text-info font-weight-bold">Datos del cliente</label>
				<table class="table table-striped">
					<thead class="thead-light">
						<tr>
							<th class="bg-info text-white" scope="col">ID del cliente</th>
							<th class="bg-info text-white" scope="col">NIF</th>
							<th class="bg-info text-white" scope="col">Nombre</th>
							<th class="bg-info text-white" scope="col">Apellidos</th>
						</tr>
					</thead>
					<tbody class="text-info">
						<tr>
							<td scope="row" th:text="${myPClient.id}" />
							<td scope="row" th:text="${myPClient.nif}" />
							<td scope="row" th:text="${myPClient.name}" />
							<td scope="row" th:text="${myPClient.surname}" />
						</tr>
					</tbody>
				</table>
			</div>	  
		  <div class="card-body">
				<form th:action="@{/actDeposit}" th:object="${newOpModel}" method="POST" class="needs-validation" novalidate>							
					<div class="form-group">
						<label class="text-info font-weight-bold" for="inpClientAccounts">Cuentas del cliente</label>
						<select class="form-control" required="required" name="accountId" id="inpClientAccounts" size="5" multiple="multiple">
							<option class="text-info font-weight-bold"
									th:each="acc : ${clientAccs}"
									th:value="${{acc.id}}"
									th:text="${acc.numAccount}">
							</option>
							<div class="invalid-feedback">Debe seleccionar una de las cuentas</div>
							<div class="valid-feedback">Cuenta seleccionada</div>
						</select>
					</div>
					<div class="form-group">
						  <label class="text-info font-weight-bold" for="inpOperationAmount">Cantidad</label>
						  <input type="text" required="required" class="form-control" id="inpOperationAmount" name="amount" placeholder="Cantidad ...">
						  <div class="invalid-feedback">Campo obligatorio</div>
					</div>	
					<br/>													
					<button type="submit" name="btnDeposit" class="btn btn-success">Guardar</button>
					<a class="btn btn-info" href="newDepositWithdrawalView" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
			<script>
				//Script de validación de datos
				(function() {
				  'use strict';
				  window.addEventListener('load', function() {
				    // Recoge los datos del formulario y aplica las validaciones
				    var forms = document.getElementsByClassName('needs-validation');
				    // Pasa sobre los campos en bucle y previene que los datos del formulario se envíen
				    var validation = Array.prototype.filter.call(forms, function(form) {
				      form.addEventListener('submit', function(event) {
				        if (form.checkValidity() === false) {
				          event.preventDefault();
				          event.stopPropagation();
				        }
				        form.classList.add('was-validated');
				      }, false);
				    });
				  }, false);
				})();
			</script>
	</body>
</html>