<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>		
	</head>
	<body class="card-body">
		<div th:insert="navbar"/>
		<div class="card text-white bg-light mb-3">
		  	<div class="card-header bg-info"><h2>Seleccione el cliente y operación a realizar</h2></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead class="thead-light">
						<tr>
							<th class="bg-info text-white" scope="col">ID del cliente</th>
							<th class="bg-info text-white" scope="col">NIF</th>
							<th class="bg-info text-white" scope="col">Nombre</th>
							<th class="bg-info text-white" scope="col">Apellidos</th>
							<th class="bg-info text-white" scope="col" th:hidden="${btnDepositEnabled}">Ingreso</th>
							<th class="bg-info text-white" scope="col" th:hidden="${btnWithdrawalEnabled}">Retirada</th>
							<th class="bg-info text-white" scope="col" th:hidden="${btnTransferEnabled}">Transferencia</th>
						</tr>
					</thead>
					<tbody class="text-info">
						<th:block th:each="client : ${pClientsOwners}">
							<tr>
								<td scope="row" th:text="${client.id}" />
								<td scope="row" th:text="${client.nif}" />
								<td scope="row" th:text="${client.name}" />
								<td scope="row" th:text="${client.surname}" />
								<td scope="row" th:hidden="${btnDepositEnabled}">
									<form action="newDepositView" method="post">
										<button th:disabled="${btnDepositEnabled}" type="submit"
											id="btnDeposit" name="pClientId" th:value="${client.id}"
											class="btn btn-success"><i class="fa-solid fa-circle-dollar-to-slot"></i></button>
									</form>
								</td>
								<td scope="row" th:hidden="${btnWithdrawalEnabled}">
									<form action="newWithdrawalView" method="post">
										<button th:disabled="${btnWithdrawalEnabled}" type="submit"
											id="btnWithdrawal" name="pClientId" th:value="${client.id}"
											class="btn btn-danger"><i class="fa-solid fa-hand-holding-dollar"></i></button>
									</form>
								</td>
								<td scope="row" th:hidden="${btnTransferEnabled}">
									<form action="newTransferView" method="post">
										<button th:disabled="${btnTransferEnabled}" type="submit"
											id="btnTransfer" name="pClientId" th:value="${client.id}"
											class="btn btn-warning"><i class="fa-solid fa-right-left"></i></button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-info" th:href="@{showOperationsView}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>