<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
		<body class="card-body">
		<div class="card text-white bg-dark mb-3">		
		  <div class="card-header">Datos Operación de Transferencia</div>	
		  <div class="card-body">
		  <label>Datos del cliente:</label>
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID del cliente</th>
							<th scope="col">NIF</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellidos</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row" th:text="${myPClient.id}" />
							<td scope="row" th:text="${myPClient.nif}" />
							<td scope="row" th:text="${myPClient.name}" />
							<td scope="row" th:text="${myPClient.surname}" />
						</tr>
					</tbody>
				</table>
			</div>	  
		  <div class="card-body">
				<form th:action="@{/actTransfer}" th:object="${newOpModel}" method="POST">							
					<div class="form-group">
						<label for="inpClientAccounts">Cuentas del cliente</label>
						<select class="form-control" name="accountId" id="inpClientAccounts" size="5">
							<option th:each="acc : ${clientAccs}"
									th:value="${{acc.id}}"
									th:text="${acc.numAccount}">
							</option>
						</select>
					</div>
					<div class="form-group">
						  <label for="inpOperationAmount">Cantidad</label>
						  <input type="text" class="form-control" id="inpOperationAmount" name="amount" placeholder="Cantidad ...">
					</div>	
					<div class="form-group">
						<label for="inpIssariesAccounts">Cuentas ISSARIES</label>
						<select class="form-control" name="accountIdTo" id="inpIssariesAccounts" size="5">
							<option th:each="accTo : ${myAccounts}"
									th:value="${{accTo.id}}"
									th:text="${accTo.numAccount}">
							</option>
						</select>
					</div>													
					<button type="submit" name="btnTransfer" class="btn btn-success">Guardar</button>
					<a class="btn btn-primary" href="newDepositWithdrawalView" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>