<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
	</head>
		<body class="card-body">
		<div th:insert="navbar"/>
		<div class="card text-white bg-light mb-3">		
		  <div class="card-header bg-info"><h2>Datos operación de transferencia</h2></div>	
		  <div class="card-body">
		  <label class="text-info font-weight-bold">Datos del cliente</label>
				<table class="table table-striped">
					<thead class="thead-light">
						<tr>
							<th class="bg-info text-white" scope="col">ID del cliente</th>
							<th class="bg-info text-white" scope="col">NIF</th>
							<th class="bg-info text-white" scope="col">Nombre</th>
							<th class="bg-info text-white" scope="col">Apellidos</th>
						</tr>
					</thead>
					<tbody class="text-info">
						<tr>
							<td scope="row" th:text="${myPClient.id}" />
							<td scope="row" th:text="${myPClient.nif}" />
							<td scope="row" th:text="${myPClient.name}" />
							<td scope="row" th:text="${myPClient.surname}" />
						</tr>
					</tbody>
				</table>
			</div>	  
		  <div class="card-body">
				<form th:action="@{/actTransfer}" th:object="${newOpModel}" method="POST">							
					<div class="form-group">
						<label class="text-info font-weight-bold" for="inpClientAccounts">Cuentas del cliente</label>
						<select class="form-control" name="accountId" id="inpClientAccounts" size="5">
							<option class="text-info font-weight-bold"
									th:each="acc : ${clientAccs}"
									th:value="${{acc.id}}"
									th:text="${acc.numAccount}">
							</option>
						</select>
					</div>
					<div class="form-group">
						  <label class="text-info font-weight-bold" for="inpOperationAmount">Cantidad</label>
						  <input type="text" class="form-control" id="inpOperationAmount" name="amount" placeholder="Cantidad ...">
					</div>	
					<div class="row">
						<div class="form-group col-md-3">
							<label class="text-info font-weight-bold" for="inpIssariesAccounts">Cuentas ISSARIES</label>
							<select class="form-control" name="accountIdTo" id="inpIssariesAccounts" size="5">
								<option class="text-info font-weight-bold"
										th:each="accTo : ${myAccounts}"
										th:value="${{accTo.id}}"
										th:text="${accTo.numAccount}">
								</option>
							</select>
						</div>	
						<div class="col-md-6">
							<p class="text-danger font-weight-bold"><br/><br/>ATENCIÓN: <br/>
							Debe seleccionar una cuenta de destino diferente a la cuenta de origen.
							</p>						
						</div>
					</div>
						
					<br/>											
					<button type="submit" name="btnTransfer" class="btn btn-success">Guardar</button>
					<a class="btn btn-info" href="newDepositWithdrawalView" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>