<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
	</head>
	<body class="card-body">
		<div th:insert="navbar"/>	
		<div class="card text-white bg-light mb-3">
		  <div class="card-header bg-info"><h2>Búsqueda de clientes</h2></div>
		  <div class="card-body">
		  <div>
		  	<p class="text-warning font-weight-bold">ATENCIÓN: <br/>
			Se realizará la búsqueda por el campo que rellene. Si rellena ambos se buscará por el primero: NIF
			</p>
		  </div>
				<form th:action="@{/actSearchClient}" th:object="${searchedClient}" method="POST">
					<div class="form-group">
			  			<label class="text-info font-weight-bold" for="inpRegistration">NIF</label>
			  			<input type="text" class="form-control" id="inpTClientRegistr" name="nif" placeholder="Introduzca parte del NIF ... ">
					</div>
					<div class="form-group">
						  <label class="text-info font-weight-bold" for="inpName">Nombre</label>
						  <input type="text" class="form-control" id="inpTname" name="name" placeholder="Introduzca parte del nombre ... ">
					</div>
					<br/>
					<button type="submit" name="btnSearchClientBy" class="btn btn-success">Buscar</button>
					<a class="btn btn-info" href="showPotentialClientsView" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>