<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
	</head>
	<body class="card-body">
		<div th:insert="navbar"/>	
		<div class="card text-white bg-light mb-3">
		  	<div class="card-header bg-info"><h2>Cuentas bancarias Issaries</h2></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead class="thead-light bg-info">
						<tr>
							<th class="bg-info text-white" scope="col" th:hidden="${btnUpdateAccountEnabled}">Editar</th>
							<th class="bg-info text-white" scope="col">ID CUENTA</th>
							<th class="bg-info text-white" scope="col">Número de cuenta</th>
							<th class="bg-info text-white" scope="col">Fecha de creación</th>
							<th class="bg-info text-white" scope="col">Balance</th>
							<th class="bg-info text-white" scope="col" th:hidden="${btnOperationsAccountEnabled}">Operaciones</th>
							<th class="bg-info text-white" scope="col" th:hidden="${btnDropAccountEnabled}">Eliminar</th>
						</tr>
					</thead>
					<tbody class="text-info">
						<th:block th:each="acc : ${accListView}">
							<tr>
								<td scope="row" th:hidden="${btnUpdateAccountEnabled}">
									<form action="updateAccountView" method="post">
										<button th:disabled="${btnUpdateAccountEnabled}" type="submit"
											id="btnUpdateAccount" name="accId" th:value="${acc.id}"
											class="btn btn-info"><i class="fa-solid fa-user-pen"></i></button>
									</form>
								</td>
								<td scope="row" th:text="${acc.id}" />
								<td scope="row" th:text="${acc.numAccount}" />
								<td scope="row" th:text="${acc.createAt}" />
								<td scope="row" th:text="${acc.balance}" />
								<td scope="row" th:hidden="${btnOperationsAccountEnabled}">
									<form action="actOperationsAccount" method="post">
										<button th:disabled="${btnOperationsAccountEnabled}" type="submit"
											id="btnOperationsAccount" name="accId" th:value="${acc.id}"
											class="btn btn-warning"><i class="fa-solid fa-clipboard-list"></i></button>
									</form>
								</td>
								<td scope="row" th:hidden="${btnDropAccountEnabled}">
									<form action="actDropAccount" method="post">
										<button th:disabled="${btnDropAccountEnabled}" type="submit"
											id="btnDropAccount" name="accId" th:value="${acc.id}"
											class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-info" th:href="${previousUrl != null? previousUrl:'index'}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>