<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
	</head>
	<body class="card-body">
		<div th:insert="navbar"/>
		<div class="card text-white bg-light mb-3">
		  	<div class="card-header bg-info"><h2>Clientes</h2></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead class="thead-light bg-info">
						<tr>
							<th class="bg-info text-white" scope="col" th:hidden="${btnUpdatePClientEnabled}">Editar</th>
							<th class="bg-info text-white" scope="col">ID del cliente</th>
							<th class="bg-info text-white" scope="col">NIF</th>
							<th class="bg-info text-white" scope="col">Nombre</th>
							<th class="bg-info text-white" scope="col">Apellidos</th>
							<th class="bg-info text-white" scope="col">Año de nacimiento</th>
							<th class="bg-info text-white" scope="col">Dirección</th>
							<th class="bg-info text-white" scope="col">Email</th>
							<th class="bg-info text-white" scope="col">Teléfono</th>
							<th class="bg-info text-white" scope="col" th:hidden="${btnAccountsPClientEnabled}">Cuentas</th>
							<th class="bg-info text-white" scope="col" th:hidden="${btnDropPClientEnabled}">Eliminar</th>
						</tr>
					</thead>
					<tbody class="text-info">
						<th:block th:each="client : ${pClientsListView}">
							<tr>
								<td scope="row" th:hidden="${btnUpdatePClientEnabled}">
									<form action="updateClientView" method="post">
										<button th:disabled="${btnUpdatePClientEnabled}" type="submit"
											id="btnUpdatePClient" name="pClientId" th:value="${client.id}"
											class="btn btn-info"><i class="fa-solid fa-user-pen"></i></button>
									</form>
								</td>
								<td scope="row" th:text="${client.id}" />
								<td scope="row" th:text="${client.nif}" />
								<td scope="row" th:text="${client.name}" />
								<td scope="row" th:text="${client.surname}" />
								<td scope="row" th:text="${client.yearBirth}" />
								<td scope="row" th:text="${client.address}" />
								<td scope="row" th:text="${client.email}" />
								<td scope="row" th:text="${client.tphno}" />
								<td scope="row" th:hidden="${btnAccountsPClientEnabled}">
									<form action="actAccountsPClient" method="post">
										<button th:disabled="${btnAccountsPClientEnabled}" type="submit"
											id="btnAccountsPClient" name="pClientId" th:value="${client.id}"
											class="btn btn-warning"><i class="fa-solid fa-clipboard-list"></i></button>
									</form>
								</td>
								<td scope="row" th:hidden="${btnDropPClientEnabled}">
									<form action="actDropPClient" method="post">
										<button th:disabled="${btnDropPClientEnabled}" type="submit"
											id="btnDropPClient" name="pClientId" th:value="${client.id}"
											class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-info" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>