<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="libs">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
	</head>
	<body class="card-body">
		<div th:insert="navbar"/>
		<div class="card text-white bg-light mb-3">
		  	<div class="card-header bg-info"><h2>Operaciones</h2></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead class="thead-light">
						<tr>
							<th class="bg-info text-white" scope="col">ID</th>
							<th class="bg-info text-white" scope="col">Tipo de operación</th>
							<th class="bg-info text-white" scope="col">Fecha</th>
							<th class="bg-info text-white" scope="col">Cantidad</th>
						</tr>
					</thead>
					<tbody class="text-info">
						<th:block th:each="o : ${opListView}">
							<tr>
								<td scope="row" th:text="${o.id}" />
								<td scope="row" th:text="${o.op}" />
								<td scope="row" th:text="${o.createAt}" />
								<td scope="row" th:text="${o.amount}" />
							</tr>
						</th:block>
					</tbody>
				</table>				
				<a class="btn btn-info" th:href="${previousUrl != null? previousUrl:'index'}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>