<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
	</head>
	<body class="card-body">
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
		    <a class="navbar-brand" th:href="@{/clientsView}" role="button">LISTADO</a>
			<a class="navbar-brand" th:href="@{/newClientView}" role="button">AÑADIR</a>
			<a class="navbar-brand" th:href="@{/searchClientByView}" role="button">BUSCAR</a>
		</nav>
		<div class="card text-white bg-dark mb-3">
		  	<div class="card-header">Clientes</div>
			<div class="card-body">
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col" th:hidden="${btnUpdatePClientEnabled}">Editar</th>
							<th scope="col">ID del cliente</th>
							<th scope="col">NIF</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellidos</th>
							<th scope="col">Año de nacimiento</th>
							<th scope="col">Dirección</th>
							<th scope="col">Email</th>
							<th scope="col">Teléfono</th>
							<th scope="col" th:hidden="${btnDropPClientEnabled}">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="client : ${pClientsListView}">
							<tr>
								<td scope="row" th:hidden="${btnUpdatePClientEnabled}">
									<form action="updateClientView" method="post">
										<button th:disabled="${btnUpdatePClientEnabled}" type="submit"
											id="btnUpdatePClient" name="pClientId" th:value="${client.id}"
											class="btn btn-info"><i class="fa-solid fa-user-pen"></i></button>
									</form>
								</td>
								<td scope="row" th:text="${client.id}" />
								<td scope="row" th:text="${client.nif}" />
								<td scope="row" th:text="${client.name}" />
								<td scope="row" th:text="${client.surname}" />
								<td scope="row" th:text="${client.yearBirth}" />
								<td scope="row" th:text="${client.address}" />
								<td scope="row" th:text="${client.email}" />
								<td scope="row" th:text="${client.tphno}" />
								<td scope="row" th:hidden="${btnDropPClientEnabled}">
									<form action="actDropPClient" method="post">
										<button th:disabled="${btnDropPClientEnabled}" type="submit"
											id="btnDropPClient" name="pClientId" th:value="${client.id}"
											class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-info" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>