<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
	</head>
	<body class="card-body">
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
		    <a class="navbar-brand" th:href="@{/accountsView}" role="button">LISTADO</a>
			<a class="navbar-brand" th:href="@{/newAccountView}" role="button">AÑADIR</a>
			<a class="navbar-brand" th:href="@{/searchAccountByView}" role="button">BUSCAR</a>
		</nav>
		<div class="card text-white bg-dark mb-3">
		  	<div class="card-header">CUENTAS BANCARIAS</div>
			<div class="card-body">
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col" th:hidden="${btnUpdateAccountEnabled}">Editar</th>
							<th scope="col">ID CUENTA</th>
							<th scope="col">Número de cuenta</th>
							<th scope="col">Fecha de creación</th>
							<th scope="col">Balance</th>
							<th scope="col" th:hidden="${btnDropAccountEnabled}">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="acc : ${accListView}">
							<tr>
								<td scope="row" th:hidden="${btnUpdateAccountEnabled}">
									<form action="updateAccountView" method="post">
										<button th:disabled="${btnUpdateAccountEnabled}" type="submit"
											id="btnUpdateAccount" name="accId" th:value="${acc.id}"
											class="btn btn-info"><i class="fa-solid fa-user-pen"></i></button>
									</form>
								</td>
								<td scope="row" th:text="${acc.id}" />
								<td scope="row" th:text="${acc.numAccount}" />
								<td scope="row" th:text="${acc.createAt}" />
								<td scope="row" th:text="${acc.balance}" />
								<td scope="row" th:hidden="${btnDropAccountEnabled}">
									<form action="actDropAccount" method="post">
										<button th:disabled="${btnDropAccountEnabled}" type="submit"
											id="btnDropAccount" name="accId" th:value="${acc.id}"
											class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-info" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>