<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
	</head>
	<body class="card-body">
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
		    <a class="navbar-brand" th:href="@{/operationsView}" role="button">LISTADO</a>
		    <a class="navbar-brand" th:href="@{/newDepositWithdrawalView}" role="button">DEPÓSITOS/RETIRADAS</a>
			<a class="navbar-brand" th:href="@{/newTransferView}" role="button">TRANSFERENCIAS</a>
		</nav>
		<div class="card text-white bg-dark mb-3">
		  	<div class="card-header">Operaciones</div>
			<div class="card-body">
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Tipo de operación</th>
							<th scope="col">Fecha</th>
							<th scope="col">Cantidad</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="o : ${opListView}">
							<tr>
								<td scope="row" th:text="${o.id}" />
								<td scope="row" th:text="${o.op}" />
								<td scope="row" th:text="${o.createAt}" />
								<td scope="row" th:text="${o.amount}" />
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-info" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>