<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ISSARIES</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
		<body class="card-body">
		<div class="card text-white bg-dark mb-3">
		  <div class="card-header">Datos Cuenta Bancaria</div>
		  <div class="card-body">
				<form th:action="@{/actUpdateAccount}" th:object="${acc}" method="POST">
				<!--ID DE LA CUENTA A REGISTRAR PARA PODER ACTUALIZAR-->
				<input th:value="${myAcc.id}" type="hidden" name="id"/>
				<input th:value="${myAcc.createAt}" type="hidden" name="createAt"/>
					<div class="form-group">
			  			<label for="inpAccountRegs">Número de cuenta</label>
			  			<input th:value="${myAcc.numAccount}" type="text" required="required" class="form-control" id="inpAccountRegs" name="numAccount" placeholder="Número de cuenta ...">
					</div>
					<div class="form-group">
						  <label for="inpAccountBalance">Balance</label>
						  <input th:value="${myAcc.balance}" required="required" type="text" class="form-control" id="inpAccountBalance" name="balance" placeholder="Balance actualizado ...">
					</div>
					<div class="form-group">
						<label for="inpAccountOwners">Clientes asociados</label>
						<ul th:each="accClient : ${myPClients}">
							<li th:text="${accClient.nif}"/>
						</ul>
					</div>
					<div class="form-group">
						<label for="inpPotentialClients">Clientes de Issaries</label>
						<select class="form-control" name="myOwners" id="inpPotentialClients" size="5" multiple="multiple">
							<option th:each="client : ${pClients}"
									th:value="${{client.id}}"
									th:text="${client.nif}">
							</option>
						</select>
					</div>
					<button type="submit" name="btnUpdateAccount" class="btn btn-success">Actualizar</button>
					<a class="btn btn-primary" href="showAccountView" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>